$colorNavbar: #515170;
$colorNavbarLink: #D6DDE4;
$colorNavbarBorder: #5C5C7D;
$colorNavbarActive: #5C5C7D;

div .nav-main {
	width: 220px;
	background: $colorNavbar;

	.title {
		display: block;
		font-size: 16px;
		line-height: 50px;
		text-align: center;
		text-transform: uppercase;
		color: #2cbaff;
		border-bottom: 1px solid $colorNavbarBorder;
		background: $colorNavbar;
		text-decoration: none;
	}

	.nav li a {
		position: relative;
		display: block;
		padding: 12px 15px 15px 50px;
		font-size: 15px;
		color: $colorNavbarLink;
		border-bottom: 1px solid $colorNavbarBorder;
		text-decoration: none;
		background: $colorNavbar;
	}

	.nav li a:before {
		font: 15px fontawesome;
		position: absolute;
		top: 14px;
		left: 20px;
	}

	.nav li:nth-child(1) a:before { content: '\f00a'; }
	.nav li:nth-child(2) a:before { content: '\f012'; }
	.nav li:nth-child(3) a:before { content: '\f0e8'; }
	// .nav li:nth-child(3) a:before { content: '\f0c3'; }
	.nav li:nth-child(4) a:before { content: '\f023'; left: 23px; }

	.nav li a:hover {
		// background: $colorNavbarActive;
		color: #2cbaff;
		// text-shadow: 0px 0px 1px #2cbaff;
	}

	.nav li a.active {
		/*box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;*/
		background: $colorNavbarActive;
	}
}
